.navbar {
  // background: #353535;
  background: hsl(220 10% 20%);
  display: flex;
  user-select: none;
  cursor: default;
  font-size: 14px;
  // padding: 5px;
  color: #777;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #1f9ba1;

  & > div {
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: flex;
  }

  button {
    color: #ccc;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    -webkit-appearance: button;
    background: none;
    border: none;
    outline: none;
    // height: 40px;
    padding: 6px;
    // border-radius: 2px;

    &:hover {
      background: hsl(220 60% 95% / 0.1);
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}
