<div class="navbar">
  <div>
    <img src="assets/images/logo.png" alt="logo" class="logo" />

    <div class="navbar__buttons">
      <button (click)="changeOrientation()"><img src="assets/images/rotate.png" /></button>
      <button (click)="toggleView(3)"><img src="assets/images/pane-side-2.png"style="transform: scaleX(-1);" /></button>
      <button (click)="toggleView(2)"><img src="assets/images/pane-both.png" /></button>
      <button (click)="toggleView(1)"><img src="assets/images/pane-side-2.png" /></button>
      <button (click)="run()"><span>Run</span></button>
    </div>
  </div>
  <div class="dropdown dropdown-dark">
    <select name="two" class="dropdown-select" (change)="changeLanguage($event)">
      <option *ngFor="let language of languages" value="{{language.id}}">{{language.name}}</option>
    </select>
  </div>
</div>