.container, .content, .code-editor {
    height: 100%;
}

.viewer {
    background: white;
    height: 100%;
    width: 100%;
    border: 0;
    /*pointer-events: none;*/
}

.navbar {
    background: #353535;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font-size: 14px;
    padding: 5px;
    color: #777;
    font-weight: 400;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}

.navbar > div {
    display: flex;
    align-items: center;
}

.navbar button {
    /*border-radius: 0 !important;*/
    color: #ccc;
    /*white-space: nowrap;*/
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    /*padding: 7px 15px;*/
    /*margin: 0;*/
    font-size: 12px;
    /*text-align: center;*/
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    display: flex;
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
    /*-webkit-box-pack: center;*/
    /*-ms-flex-pack: center;*/
    /*justify-content: center;*/
    /*position: relative;*/
    /*-webkit-appearance: button;*/
    background: none;
    border: none;
    /*outline: none;*/
    height: 40px;
    /*outline: none;*/
    /*padding: 3px 10px;*/
}

.navbar button:hover {
    background: #444;
}

.navbar button img {
    width: 24px;
    height: 24px;
}

.loader-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    z-index: 1000;
    top: 0;
    left: 0;
}

.spinner {
    margin: 200px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: white;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}