<div class="loader-container" *ngIf="isLoading">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>

<div class="container">
  <div class="navbar">
    <div>
      <button (click)="changeOrientation()"><img src="assets/images/orientation.png" /></button>
      <button (click)="toggleView(1)"><img src="assets/images/pane-side-2.png" /></button>
      <button (click)="toggleView(2)"><img src="assets/images/pane-both.png" /></button>
      <button (click)="toggleView(3)"><img src="assets/images/pane-side-2.png" style="transform: scaleX(-1);" /></button>
      <button (click)="run()"><span>Run</span></button>
    </div>
    <div class="dropdown dropdown-dark">
      <select name="two" class="dropdown-select" (change)="changeLanguage($event)">
        <option *ngFor="let language of languages" value="{{language.id}}">{{language.name}}</option>
      </select>
    </div>
  </div>
    <split [direction]="direction" [useTransition]="false" [gutterColor]="'#424242'" order="1">
      <split-area [size]="size.editor">
        <ngx-monaco-editor class="code-editor" [options]="editorOptions" [(ngModel)]="code" (ngModelChange)="updateView()"></ngx-monaco-editor>
      </split-area>
      <split-area [size]="size.viewer" order="2">
        <iframe id="viewer" class="viewer" style="height:100%;width: 100%; border: 0;"></iframe>
      </split-area>
    </split>
</div>