<div class="loader-container" *ngIf="isLoading">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>

<div class="container">

  <app-navbar
    (runClicked)="run()"
    (orientationChanged)="changeOrientation()"
    (viewSizeChanged)="toggleView($event)"
    (languageChanged)="changeLanguage($event)"
  ></app-navbar>

  <div class="split split-{{direction}}">
    <div id="split-0">
      <ngs-code-editor
        [theme]="theme"
        [codeModel]="codeModel"
        [options]="editorOptions"
        (valueChanged)="onCodeChanged($event)"
      ></ngs-code-editor>
    </div>
    <div id="split-1">
      <iframe id="viewer" class="viewer" style="height:100%;width: 100%; border: 0;"></iframe>
    </div>
  </div>
</div>

